.card-animal {
  border: 1px solid #979797;
  background: #fff;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 0 15px 30px;
}

.card-animal img {
  object-fit: cover;
}

.card-animal-info {
  padding: 20px;
}
